<div class="row">
  <div class="col-10">
    <h1>HOME</h1>
  </div>
  <div class="col-xs-5">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, voluptate reiciendis vero placeat recusandae architecto, saepe. Molestias culpa, rerum a officia. Id, enim tenetur eum nihil autem amet qui molestiae.</p>
  </div>
  <div class="col-xs-5">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, voluptate reiciendis vero placeat recusandae architecto, saepe. Molestias culpa, rerum a officia. Id, enim tenetur eum nihil autem amet qui molestiae.</p>
  </div>
</div>
